<ion-header>

  <ion-navbar color="primary">
    <ion-title>Social Media</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list no-lines text-wrap>
  <ion-item *ngFor="let social of socials | async">
    <!--<ion-icon name="logo-twitter" item-left></ion-icon><span item-left color="sca-main-color">{{social.name}}</span>
    <a href="{{social.link}}" onclick="window.open(this.href, '_system','location=yes'); return false;">
    <span item-right color="sca-main-color">{{social.social_name}}</span>-->

    <ion-icon name="{{social.site}}" item-left color="sca-main-color"></ion-icon>
    <h2>{{social.name}}</h2>
    <a href="{{social.link}}" onclick="window.open(this.href, '_system','location=yes'); return false;">
      <span item-right color="sca-main-color">{{social.social_name}}</span>
    </a>
  </ion-item>

  <!-- <ion-grid>
    <ion-row *ngFor="let social of socials | async">
      <ion-col width-20><ion-icon name="{{social.site}}" item-left color="sca-main-color"></ion-icon></ion-col>
      <ion-col width-40>{{social.name}}</ion-col>
      <ion-col width-40><a href="{{social.link}}" onclick="window.open(this.href, '_system','location=yes'); return false;">
      <span item-right color="sca-main-color">{{social.social_name}}</span>
    </a></ion-col>
    </ion-row>
  </ion-grid> -->

 </ion-list>

</ion-content>
