page-news {

.scroll-content {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 50%;
      }
  
}

.ios, .md {
 
  game-detail-page {
 
    .scroll-content {
      height: 100%
    }
 
    #map {
      width: 100%;
      height: 50%;
    }
 
  }

}
